// Primary
$color-primary: hsl(12, 77%, 59%);
$color-secondary: hsl(228, 39%, 23%);

// Neutral colors
$color-red--100: hsl(13, 100%, 96%);

// Testimonial background (I like #f9f9f9 more)
$color-gray--100: hsl(0, 0%, 98%);

$color-gray--400: hsl(227, 12%, 61%);
$color-blue--700: hsl(233, 12%, 13%);

// Font family
$default-font: 'Be Vietnam Pro', sans-serif;

// Font sizes
$default-font-size: 1.6rem;

// Font weight
$font-regular: 400;
$font-medium: 500;
$font-large: 700;

// Line height
$line-height-subtext: 3rem;
