.carousel {
	position: relative;
	padding: 10rem 0rem;

	// Test
	// height: 35rem;
	// overflow: hidden;

	&__title {
		font-size: 4rem;
		padding-bottom: 5rem;
	}

	&__list {
		display: flex;

		list-style-type: none;
		gap: 5rem;

		//Test
		// position: absolute;
		// // transform: translateX(1%);

		// width: 133%;
	}
}
