// There is only one page but I made it for the sake of having the 7-1 structure
.section-main {
	position: relative;
	max-width: 144rem;
	margin: 0 auto;
}

.background {
	background-image: url('../../images/bg-tablet-pattern.svg');
	background-repeat: no-repeat;
	background-position: top -17% right -6%;

	&::after {
		content: url(../../images/bg-tablet-pattern.svg);
		position: absolute;
		top: 218%;
		z-index: -1;
		left: -24%;
		width: 100%;
	}
}
