// There is only one page but I made it for the sake of having the 7-1 structure
.section-main {
	position: relative;
	max-width: 144rem;
	margin: 0 auto;
}

.section-carousel {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10rem 0rem 15rem;
}

.section-simplify {
	background-color: $color-primary;

	background-image: url(../../images/bg-simplify-section-desktop.svg);
	background-repeat: no-repeat;
	background-size: 92%;

	background-position-x: 256%;
	background-position-y: 88%;
}
