.footer {
	display: grid;

	max-width: 144rem;
	margin: 0 auto;
	padding-top: 10rem;
	padding-bottom: 10rem;

	&__logo {
		height: 2.5rem;
	}

	&__links {
		list-style-type: none;

		&--link {
			font-size: $default-font-size;
			font-weight: $font-regular;
			text-decoration: none;
			color: #fff;
		}
	}

	&__subscription {
		&--input {
		}

		&--button {
		}
	}

	&__copyright {
		color: $color-gray--400;
		font-size: 1.4rem;
	}
}
