.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: $default-font-size;

	padding-top: 5rem;

	font-weight: $font-medium;

	&__logo {
		height: 2.5rem;
	}

	&__links {
		display: flex;
		flex-basis: 45%;

		list-style: none;
		justify-content: space-around;

		&--link {
		}
	}
}
